.film { /*Artık bu stili kullanmıyoruz örnek olarak yapmıştık*/
    border: 2px solid #c40202;
    margin-bottom: 10px;
    padding: 10px;
}

.film2 { /*Artık bu stili kullanmıyoruz örnek olarak yapmıştık*/
    border: 1px solid #000000;
    margin-bottom: 10px;
    padding: 10px;
}