<footer class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small class="text-light">Copyright &copy; @DateTime.Now.Year | GoMovies | <a class="text-light" href="/home/about">Hakkımızda</a></small>
    </div>
</footer>