<div class="text-muted shadow p-5 bg-white rounded  mx-3  mt-3 mb-1 ">
    <h1 class="display-4">Merhaba!</h1>
    <p class="lead">
        Umuyoruz aradığın filmi sayfamızda bulacaksın. Sonuca daha kolay ulaşmak için "Ara" özelliğinden faydalanabilirsin. Veya kategorilere göre bir film seçebilirsin.

        <br />     "Filmini başlatmadan önce patlamış mısırını hazırlamayı unutma! Şimdiden iyi seyirler... :)"
    </p>
    <hr class="my-2">   <!--Araya çizgi koyuyor ve my ile iki bölme arasındaki uzaklığı ayarlıyor-->
    <p>GoMovies hakkında daha fazla bilgi için:  </p>
    @*<a href="#" class="badge badge-danger">Buraya tıkla!</a>*@
    <a class="btn btn-danger btn-lg" href="/home/about" role="button">Buraya tıkla!</a>

</div>