
<div class="d-flex justify-content-center mb-2 mt-2">

    <div class="ctext-muted shadow p-2 bg-white rounded ml-6 mr-6 mt-1 " style="width: 25rem; ">
        <h2>Sanırım kayboldun! :)</h2>
        <div class="alert alert-danger" role="alert">
            Bu sayfaya giriş yetkiniz bulunmamaktadır.
        </div>
        <a class="btn btn-sm btn-warning" href="/Home/Index">Ana sayfaya dönmek ister misin?</a>
    </div>
</div>