@model UserLoginModel
<div class="d-flex justify-content-center mb-2 mt-2">

    <div class="ctext-muted shadow p-2 bg-white rounded ml-6 mr-6 mt-1 " style="width: 40rem;">

        @* <form action="/movies/create" method="post" autocomplete="on"> Önceden böyle kullanıyorduk  artık TagHelpers ile aşağıdaki gibi kullanacağız*@
        <form asp-controller="Account" asp-action="Login" method="post" autocomplete="on">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <h3>Kullanıcı Girişi</h3>
            <hr />
            <div class="mb-3">
                @*<label for="Title">Title</label> Önceden böyle kullanıyorduk  artık TagHelpers ile aşağıdaki gibi kullanacağız*@
                <label asp-for="User"></label>
                @*<input type="text" name="Title" class="form-control"> Önceden böyle kullanıyorduk  artık TagHelpers ile aşağıdaki gibi kullanacağız*@
                <input asp-for="User" class="form-control" placeholder="Kullanıcı adınız">
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Parolanız" />
            </div>
            <div class="mb-3">
                <button class="btn btn-dark">Giriş</button>
            </div>

        </form>
        <div class="text-danger" asp-validation-summary="All"></div>

    </div>

</div>

<div class="d-flex justify-content-center mb-2 mt-2">
    <div class="mb-6">
        <br />
        <label>Hesabınız yok mu?</label>

         <a class="btn btn-warning btn-sm" asp-action="Index" asp-controller="RegisterUser">Kayıt Ol</a>
        @*Eski Create User Formu buradan alınacak şeyler var.
        <a class="btn btn-warning btn-sm" asp-action="CreateUser" asp-controller="User">Kayıt Ol</a>*@
    </div>
</div>
