@model List<AppUser>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home/index"><strong>GoMovies</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" href="/home/index">Ana Sayfa</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/movies/list">Film Listesi</a>
                </li>

                @if (Model.Any(m => m.isOnline == true) && Model.FirstOrDefault(m => m.isOnline == true).UserRoleId == 0)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Admin Paneli
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/MovieAdminPanel/ListMovieAsTable">Filmler Tablosu</a>
                            <a class="dropdown-item" href="/MovieAdminPanel/ListGenresAsTable">Türler Tablosu</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/MovieAdminPanel/ListForEditing">Film Güncelle</a>
                            <a class="dropdown-item" href="/MovieAdminPanel/CreateMovie">Film Ekle</a>
                            <a class="dropdown-item" href="/MovieAdminPanel/CreateMovie2">Film Ekle2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Diğer...</a>
                        </div>
                    </li>
                }

                @if (Model.Any(m => m.isOnline == true))
                {
                    <li class="nav-item">
                        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Abonelere Özel</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Abonelere Özel</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link active" href="/home/about">Hakkımızda</a>
                </li>

            </ul>

            <form action="/movies/list" method="get" class="d-flex my-2 my-lg-0">
                <input type="text" class="form-control me-sm-2" name="q" placeholder="Film ara..." aria-label="Ara">
                <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Ara</button>
                &nbsp;
            </form>

            @if (Model.Any(m => m.isOnline == true))
            {

                <form asp-controller="Login" asp-action="Logout" method="post">

                    <input type="hidden" name="userName" value="@Model.FirstOrDefault(m => m.isOnline == true).userName" />
                    <button class="btn  btn-outline-light ml-2 my-2 my-sm-0" type="submit">Çıkış yap</button>

                </form>


                <span class="badge badge-light me-2 ml-3">@Model.FirstOrDefault(m => m.isOnline == true).userName</span>
            }
            else
            {
                <a href="/Login/Login" class="btn btn-outline-light ml-2 me-2 my-2 my-sm-0" type="submit">Giriş yap</a>

            }


        </div>
    </div>
</nav>
